.word-display {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.translation-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.translation-input label {
    margin-bottom: 5px;
    font-weight: bold;
}

.translation-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

img {
    margin-right: 10px;
}

p {
    display: flex;
    align-items: center;
}