{% extends "base.html" %}
{% load static %}

{% block title %}
Test mode
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "dict_app/test.css" %}">
{% endblock %}

{% block content %}
    {% comment %} <div class="word-display">
        <span class="polish-word">{{ drawn_word_polish }}</span></br>
        <span class="polish-word">{{ drawn_word_english }}</span>
    </div> {% endcomment %}

    <p><img src="https://icons.iconarchive.com/icons/hopstarter/flag-borderless/128/Poland-icon.png" width="32" height="32">
        {{ drawn_word_polish }}</p>

    <p><img src="https://icons.iconarchive.com/icons/hopstarter/flag-borderless/128/United-Kingdom-icon.png" width="32" height="32">
        {{ drawn_word_english }}</p>

    <div class="result-message">
        {% if entered_word == drawn_word_english %}
            <p>Correct answer!</p>
        {% else %}
            <p>Failed! Try again later</p>
        {% endif %}
    </div>

    <a href="{% url "test" %}">
        <button class="base-button large-button blue-button">Next</button>
    </a>
    
    <button class="base-button small-button green-button">Learned</button>
    <button class="base-button small-button red-button">Super-hard</button>
    <div style="clear:both;"></div>
{% endblock %}
